:root {
  --dark-primary: #880921;
  --primary: red;
  --light-background: #24292e;
  --dark-background: #1d2125;
}

* {
  transition: all 200ms ease;
}

body {
  margin: 0;
  background-color: var(--light-background);
}

#app {
  display: flex;
  flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  color: white;
}

button.basic {
  background-color: var(--dark-primary);
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}

button.basic:hover {
  background-color: var(--primary);
  transform: translateX(2px);
}

button.basic:active {
    outline: none;
}

input {
    outline-color: var(--dark-primary);
}

.icon {
  width: 40px;
}

.error {
  color: red;
}
