#app {
  @apply max-h-full min-h-screen font-main bg-light-background;
}

/* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-dark-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-primary);
}

:root {
  --dark-dark-primary: #86092075;
  --dark-primary: #880921;
  --primary: #ff0000;
}

#app.dark {
  --light-background: #24292e;
  --dark-background: #1d2125;
  --container: #111827;
  --text-color: #ffffff;
  --reverse-color: #000000;
  color: var(--text-color);
}

#app.light {
  --light-background: white;
  --dark-background: #c7af9c;
  --container: #f4edde;
  --text-color: #000000;
  --reverse-color: #ffffff;
  color: var(--text-color);
}

.text-reverse {
  color: var(--reverse-color);
}

.error {
  color: red;
  text-align: center;
}

.full {
  @apply h-full w-full;
}

img {
  @apply select-none;
}

input {
  border: 2px solid var(--dark-primary);
  outline-color: var(--reverse-color);
}

path {
  fill: var(--container);
}

.fit-screen {
  /* 2.5rem = h-10 for tailwind */
  height: calc(100vh - calc(2.5rem + 3.5rem + 0.5rem));
}

.fit-side {
  height: calc(100vh - 2.5rem);
}
