body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--light-background);
}

#app.dark {
  --dark-primary: #880921;
  --primary: #ff0000;
  --light-background: #24292e;
  --dark-background: #1d2125;
  --text-color: white;
  color: var(--text-color);
}

#app.light {
  --dark-primary: #880921;
  --primary: #ff0000;
  --light-background: #e5e7eb;;
  --dark-background: #d1d5db;
  --text-color: black;
  color: var(--text-color);
}

#app {
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

button.basic {
  transition: all 200ms ease;
  background-color: var(--dark-primary);
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

button.basic:enabled:hover {
  background-color: var(--primary);
  transform: translateX(2px);
}

button.basic:disabled {
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

input {
  outline-color: var(--dark-primary);
  color: var(--text-color);
}

.icon {
  width: 40px;
}

.error {
  color: red;
}
