html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light-background);
}



/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-dark-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-primary);
}

:root {
    --dark-dark-primary: #86092075;
    --dark-primary: #880921;
    --primary: #ff0000;
}

#app.dark {

  --light-background: #24292e;
  --dark-background: #1d2125;
  --container: #111827;
  --text-color: white;
  color: var(--text-color);
}

#app.light {
  --light-background: white;
  --dark-background: #c7af9c;
  --container: #f4edde;
  --text-color: black;
  color: var(--text-color);
}

button.basic {
  transition: all 200ms ease;
  background-color: var(--dark-primary);
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  @apply select-none;
}

button.basic.selected {
  background-color: var(--primary);
}

button.basic:enabled:hover {
  background-color: var(--primary);
  transform: translateX(2px);
}

button.basic:disabled {
  background-color: darkgrey;
  color: grey;
  cursor: not-allowed;
}

input {
  outline-color: var(--dark-primary);
}

.error {
  color: red;
  text-align: center;
}

.topbar-icon {
    @apply cursor-pointer w-9 h-5 px-2 h-full;
}

.hover\:background:hover {
    background-color: var(--dark-background);

}

img {
    @apply select-none;
}

input {
    border: 2px solid var(--container);
}

path {
    fill: var(--container);
}